#app {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;

  color: #1a1a1a;
  background: #f6f6f6;
  transition: color 0.15s ease-out, background 0.15s ease-out;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body   { 
    background: #1a1a1a;
    color: #e6e6e6; 
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px;
}

.home ul {
  width: 512px;
}

.home a {
  display: flex;
  padding: 0.2em;
  border-radius: 0.2em;
}

.home a:hover {
  background: #e6e6e620;
}

/** loading icon */
.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.loader {
  width: 24px;
  height: 24px;
  border: 3px solid #aaa;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/** end loading icon */

nav {
  opacity: 0;
  padding: .5em;
  text-align: center;
  transition: opacity 0.1s ease-in; 
}

nav:hover {
  opacity: 0.5;
}

nav a {
  color: inherit;
  text-decoration: none;
}

nav a:visited {
  color: inherit;
}

.editor {
  max-width: 72ch;
  margin: auto;
  padding: 96px 16px;
}

.editor > :focus-within {
  outline: none;
}

.ProseMirror {
  min-height: 200px;
}

li p {
  margin: 0;
}

h1,
h2,
h3,
nav {
  font-family: PT Serif, serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Arial,
    sans-serif;
}

p {
  text-align: justify;
  text-justify: auto;
}
